---
import { playlists } from "@/lib/data";
import Layout from "@/layouts/Layout.astro";
import Greeting from "@/components/Greeting.svelte";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import NavArrows from "@/components/NavArrows.astro";

const { url } = Astro.request
const urlObject = new URL(url)
const search = urlObject.searchParams.get("q")

let playlistsToRender = [...playlists]

if (search) {
    playlistsToRender = playlists.filter(playlist => playlist.title.toLowerCase().includes(search.toLowerCase()))
}

---

<Layout title="Spotify Mimic">
    <div 
        id="playlist-container"
        class="relative transition-all duration-1000 bg-green-600"    
    >
        <div class="relative z-10 px-6 pt-10">
            {
                search && playlistsToRender.length ? (
                    <p>Resultados para <span class="font-bold text-white">"{search}"</span></p>
                ) : search && !playlistsToRender.length ? (
                    <p>No se encontraron resultados para <span class="font-bold text-white">"{search}"</span></p>
                ) : (
                    <Greeting client:load />
                )
            }
            <div class="flex flex-wrap mt-6 gap-4">
                {playlistsToRender.map(playlist => <PlayListItemCard playlist={playlist} />)}
            </div>
        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80" />
    </div>
</Layout>
