---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";

import { playlists } from "@/lib/data";
import { Search } from "@/components/Search";

---

<nav class="flex flex-col gap-2 flex-1 min-h-0">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                Inicio
            </SideMenuItem>
            <Search client:load transition:persist transition:name="search-input" />
        </ul>
    </div>
    <div class="bg-zinc-900 rounded-lg p-2 flex flex-col flex-1 min-h-0">
        <ul>
            <SideMenuItem href="/">
                <LibraryIcon />
                Tu biblioteca
            </SideMenuItem>
        </ul>
        <div class="flex-1 overflow-y-auto">
            {
                playlists.map(playlists => <SideMenuCard playlist={playlists} />)
            }
        </div>
    </div>
</nav>

